* {
  box-sizing: border-box;
  outline: solid 1px red;
  margin: 0;
}

.allform {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 0 4rem 0 4rem;
}

.button_connexion {
  display: flex;
  justify-content: center;
  align-items: center;
}
